#photo {
    display: block;
    margin: 0 auto;
    border: 2px solid blue;
}
.photo:hover{
    cursor: pointer;
}


h1{
    color:blue;

}

div {
    margin: 4px;
}

.subheader1{
color: gray;

}


.title{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.subject-container{
    text-align: center;
    justify-content: center;
    align-items: center;

    background-color: white;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 19px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    max-width: 60%
}



.list{
    align-items: center;
    text-align: left;
}

body{
    background-color: rgb(255, 205, 205);
}

/*   DELETED
.text-element-container{
    background-color: white;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 19px;
    border-radius: 15px;
}
    */